body {
    margin: 0;
    font-family: 'Helvetica', Arial, Sans-serif;
    color: white;
    /*background: url("./images/mushrooms.jpg") no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
}

* {
    vertical-align: top;
}

.container h2 {
  margin: 20px;
  margin-left: 60%;
  border: white 2px solid;
}
